POW_CONTRACT_ADDR=<deployed addr>
POS_CONTRACT_ADDR=<deployed addr>

POW_RPC_ENDPOINT=<rpc endpoint>
POS_RPC_ENDPOINT=<rpc endpoint>

POW_PRIVATE_KEY=<private key>
POS_PRIVATE_KEY=<private key>


CHAIN_ID_POW=<chain id>
CHAIN_ID_POS=<chain id>